<footer class="footer">
    <div class="footer__container">

        <div class="footer__inner footer__head">
            <div class="logo">
                <a href="./index.html"><img src="./images/logo.webp" alt="Логотип компании lnk. House"></a>
            </div>
            <div class="footer__phone">
                <a href="tel:+79995435454">+7 (999) 543-54-54</a>
                Мастерская
            </div>
        </div>

        <div class="footer__inner">
            <div class="footer__nav">
                <ul class="footer__menu">
                    <li class="footer__menu-title">Репродукции</li>
                    <li><a href="#">Франция</a></li>
                    <li><a href="#">Германия</a></li>
                    <li><a href="#">Англия</a></li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-title">Новинки</li>
                    <li><a href="#">2021</a></li>
                    <li><a href="#">2020</a></li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-title">О нас</li>
                    <li><a href="#">Художники</a></li>
                    <li><a href="#">Менеджеры</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__inner">
            <ul class="footer__social">
                <li class="_icon-fb"></li>
                <li class="_icon-inst"></li>
                <li class="_icon-yt"></li>
            </ul>
            <p class="footer__copy">
                Ink. House ® <br>
                All rights reserved
            </p>
        </div>

    </div>
</footer>
<div class="webcoder">
    <div class="webcoder__container">
        Сайт сверстан в учебных целях. Сверстал <h6><a href="https://вэб-верстальшик.рф">WebCoder</a></h6>
    </div>
</div>