<header class="header">
    <div class="header__container">
        <div class="logo"><a href="./index.html"><img src="./images/logo.webp" alt="Логотип компании lnk. House"></a></div>
        <!-- /.logo -->

        <div class="header__inner">

            <div class="header__menu menu wow animate__animated animate__fadeInDown">
                <button type="button" class="menu__icon"><span></span></button>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#reproductions" class="menu__link">Репродукции</a></li>
                        <li class="menu__item"><a href="#collection" class="menu__link">Новинки</a></li>
                        <li class="menu__item"><a href="#about" class="menu__link">О нас</a></li>
                    </ul>
                </nav>
            </div>

            <button type="button" class="header__cart _icon-cart wow animate__animated animate__fadeInDown"></button>

        </div>
        <!-- /.header__inner -->
    </div>
</header>