<section class="page">
    <div class="page__container">
        <div class="page__img"><img src="./images/page__bg.webp" alt="Реплики картин от Ink. House"></div>
        <!-- /.page__img -->

        <div class="page__info">
            <h1 class="page__info-title">Реплики картин от <span>Ink. House</span></h1>
            <p class="page__info-descr">
                Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения, доступные цены.
            </p>
            <a href="#" class="_label-btn">Продукция</a>
        </div>
        <!-- /.page__info -->
    </div>
</section>