<section class="reproductions _label-section">
    <div class="reproductions__container">

        <div class="reproductions__inner">
            <h2 class="_label-title">Репродукции</h2>

            <ul class="reproductions__tab">
                <li class="reproductions__tab-item _active">Франция</li>
                <li class="reproductions__tab-item">Германия</li>
                <li class="reproductions__tab-item">Англия</li>
            </ul>

        </div>
        <!-- /.reproductions__inner -->

        <ul class="reproductions__list">
            <li class="reproductions__list-item">
                <div class="reproductions__list-item_img">
                    <img src="./images/reproductions/francia/product1.webp" alt="">
                </div>
                <span class="reproductions__list-item_author">
                    Марсель Руссо
                </span>
                <h3 class="reproductions__list-item_title">
                    Охота Амура
                </h3>
                <h3 class="reproductions__list-item_tags">
                    Холст, масло (50х80) 
                </h3>
                <div class="reproductions__list-item_pay"><span>14 500</span>руб</div>
                <button class="_label-btn">В корзину</button>
            </li>
            <li class="reproductions__list-item">
                <div class="reproductions__list-item_img">
                    <img src="./images/reproductions/francia/product2.webp" alt="">
                </div>
                <span class="reproductions__list-item_author">
                    Анри Селин
                </span>
                <h3 class="reproductions__list-item_title">
                    Дама с собачкой
                </h3>
                <h3 class="reproductions__list-item_tags">
                    Акрил, бумага (50х80) 
                </h3>
                <div class="reproductions__list-item_pay"><span>16 500</span>руб</div>
                <button class="_label-btn">В корзину</button>
            </li>
            <li class="reproductions__list-item">
                <div class="reproductions__list-item_img">
                    <img src="./images/reproductions/francia/product3.webp" alt="">
                </div>
                <span class="reproductions__list-item_author">
                    Франсуа Дюпон
                </span>
                <h3 class="reproductions__list-item_title">
                    Процедура
                </h3>
                <h3 class="reproductions__list-item_tags">
                    Цветная литография (40х60) 
                </h3>
                <div class="reproductions__list-item_pay"><span>20 000</span>руб</div>
                <button class="_label-btn">В корзину</button>
            </li>

            <li class="reproductions__list-item">
                <div class="reproductions__list-item_img">
                    <img src="./images/reproductions/francia/product4.webp" alt="">
                </div>
                <span class="reproductions__list-item_author">
                    Луи Детуш
                </span>
                <h3 class="reproductions__list-item_title">
                    Роза
                </h3>
                <h3 class="reproductions__list-item_tags">
                    Бумага, акрил (50х80) 
                </h3>
                <div class="reproductions__list-item_pay"><span>12 000</span>руб</div>
                <button class="_label-btn">В корзину</button>
            </li>
            <li class="reproductions__list-item">
                <div class="reproductions__list-item_img">
                    <img src="./images/reproductions/francia/product5.webp" alt="">
                </div>
                <span class="reproductions__list-item_author">
                    Франсуа Дюпон
                </span>
                <h3 class="reproductions__list-item_title">
                    Птичья трапеза
                </h3>
                <h3 class="reproductions__list-item_tags">
                    Цветная литография (40х60) 
                </h3>
                <div class="reproductions__list-item_pay"><span>22 500</span>руб</div>
                <button class="_label-btn">В корзину</button>
            </li>
            <li class="reproductions__list-item">
                <div class="reproductions__list-item_img">
                    <img src="./images/reproductions/francia/product6.webp" alt="">
                </div>
                <span class="reproductions__list-item_author">
                    Пьер Моранж
                </span>
                <h3 class="reproductions__list-item_title">
                    Пейзаж с рыбой
                </h3>
                <h3 class="reproductions__list-item_tags">
                    Цветная литография (40х60) 
                </h3>
                <div class="reproductions__list-item_pay"><span>20 000</span>руб</div>
                <button class="_label-btn">В корзину</button>
            </li>
        </ul>

    </div>
</section>