.footer {
   background: #E1EDE6;
   padding: 23px 0;

   &__container {
      display: flex;
      justify-content: space-between;
   }

   &__phone {
      margin-top: 39px;
      color: #86928B;
      font-size: 18px;
      font-weight: 500;

      a {
         margin-bottom: 8px;
         color: #2C2D35;
         font-size: 20px;
         font-weight: 500;
         display: block;
      }
   }

   &__nav {
      display: grid;
      gap: 69px;
      grid-template-columns: repeat(3, 1fr);
   }

   &__menu {
      li {
         color: #2C2D35;
         font-size: 18px;
         font-weight: 500;
         line-height: 150%;

         a {
            color: #86928B;
         }
      }
   }

   &__social {
      display: flex;
      gap: 30px;
      margin-bottom: 10px;
   }

   &__copy {
      color: #86928B;
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
   }
}